:host {
	display: grid;
	grid-template-rows: auto auto;
	gap: 1rem;
	justify-items: center;

	form {
		margin-top: 2rem;
		input, button {
			border-radius: 9999px 0 0 9999px;
			border: 1px solid black;
			outline: none;
			padding: 8px 16px;
			font-size: 16px;
		}
		button {
			border-radius: 0 9999px 9999px 0;
			border-left: none;
			font-weight: bold;
			cursor: pointer;
			background-color: hsl(220, 100%, 40%);
			color: white;
		}
	}

	ul {
		list-style-type: none;
		display: grid;
		grid-template-columns: auto auto auto;
		gap: 1rem;
		li {
			border: 1px solid black;
			max-width: 400px;
			background: white;
			a {
				text-decoration: none;
				color: black;
				text-align: left;
				div {
					display: grid;
					grid-template-columns: 100px auto;
					align-items: center;
					img {
						width: 100px;
						height: 100px;
					}
					p {
						padding: 0 1rem;
					}
				}
			}
		}
	}
}