form {
	margin: auto;
	padding: 2rem;
	width: 300px;
	border-radius: 30px;
	display: grid;
	grid-template-columns: auto;
	gap: 30px;
	background: hsl(220, 100%, 90%);
	input, button {
		height: 42px;
		border-radius: 9999px;
		outline: none;
		border: none;
		padding: 0 20px;
		font-size: 16px;
	}
	input:focus {
		background: hsl(0, 0%, 95%);
	}
	button {
		background: hsl(220, 100%, 40%);
		color: white;
		&:hover {
			background: hsl(220, 100%, 60%);
		}
		&:active {
			background:hsl(220, 100%, 20%)
		}
	}
}