<p>Kako mogu koristiti ovaj sadržaj? &#9432;</p>

<form>
	<div class="radio-buttons">
		<h3>IMAGE 001</h3>

		<label for="large">
			<input type="radio" id="large" name="imgType" value="large">
			<div>
				<div class="label-container">
					<span>LARGE</span>
					<span class="spacer"></span>
					<span>170.00KN</span>
				</div>
				<p>Print (2667x4000)</p>
			</div>
		</label>

		<label for="small">
			<input type="radio" id="small" name="imgType" value="small">
			<div>
				<div class="label-container">
					<span>SMALL</span>
					<span class="spacer"></span>
					<span>130.00KN</span>
				</div>
				<p>Web (1072x1600)</p>
			</div>
		</label>
	</div>

	<div class="checkbox">
		<input type="checkbox" name="signature" id="signature">
		<label for="signature">Preuzmi s potpisom autora</label>
	</div>

	<div class="buttons">
		<button type="button" (click)="onDownload()" class="button--bold button--big">
			<img src="../../../assets/ad.png">
			<span> PREUZMI SADRŽAJ</span>
		</button>
		<div class="send-buttons">
			<button type="button">Pošalji u sustav</button>
			<button type="button">Pošalji u CMS</button>
		</div>
		<button type="button" class="button--bold button--black button--big">
			<img src="../../../assets/sc.png">
			<span> DODAJ U KOŠARICU</span>
		</button>
		<button type="button" class="button--white">
			<img src="../../../assets/ad.png">
			<span> Preuzmi pregledni primjerak</span>
		</button>
	</div>
</form>

<hr/>

<h3>POSEBNE NAPOMENE</h3>
<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>

<h3>POSEBNE NAPOMENE</h3>
<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

<h3>POSEBNE NAPOMENE</h3>
<p>It has survived not only five centuries, but also the leap into electronic typesetting.</p>